@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

[data-theme="dark-mode"] {
	--backgroundColor: black;
	--secondaryBackgroundColor: #303030;
	--primaryColor: purple;
	--secondaryColor: royalblue;
	--primaryColor-rgb: #{hexToRGB(purple)};
	--contrastColor: #f0f0f0;
}
