@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

[data-theme="dark-mode"] {
	--backgroundColor: black;
	--secondaryBackgroundColor: #303030;
	--primaryColor: purple;
	--secondaryColor: royalblue;
	--primaryColor-rgb: #{hexToRGB(purple)};
	--secondaryColor-rgb: #{hexToRGB(royalblue)};
	--contrastColor: #ced4da;
	--primaryHover: rgba(var(--primaryColor-rgb), 0.3);
	--secondaryHover: rgba(var(--secondaryColor-rgb), 0.3);
}
