@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

$primary-color: #800080;
$secondary-color: #0075ff;

[data-theme="dark-mode"] {
	--backgroundColor: black;
	--secondaryBackgroundColor: #303030;
	--primaryColor: #{$primary-color};
	--secondaryColor: #{$secondary-color};
	--contrastColor: #ced4da;
	--primaryHover: #{lighten($primary-color, 10%)};
	--secondaryHover: #{lighten($secondary-color, 10%)};
	--buttonContrast: #ced4da;
}
