@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

[data-theme="green-inferno"] {
	--backgroundColor: black;
	--primaryColor: green;
	--primaryColor-rgb: #{hexToRGB(green)};
	--contrastColor: white;
}
