@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

[data-theme="light-mode"] {
	--backgroundColor: rgb(255, 255, 255);
	--secondaryBackgroundColor: #d2d2d2;
	--primaryColor: #0122ff;
	--secondaryColor: #b38900;
	--primaryColor-rgb: #{hexToRGB(#0122ff)};
	--secondaryColor-rgb: #{hexToRGB(#b38900)};
	--contrastColor: black;
	--primaryHover: rgba(var(--primaryColor-rgb), 0.3);
	--secondaryHover: rgba(var(--secondaryColor-rgb), 0.3);
}
