@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

[data-theme="light-mode"] {
	--backgroundColor: rgb(255, 255, 255);
	// --secondaryBackgroundColor: #d2d2d2;
	--secondaryBackgroundColor: rgb(0, 7, 150);
	--primaryColor: rgb(15, 0, 181);
	--primaryColor-rgb: #{hexToRGB(purple)};
	--contrastColor: black;
}
