.wrapper {
	height: 4rem;
	width: 4rem;
	display: flex;
	border-radius: 8px;
	align-items: center;
	flex-direction: column;
	&:hover {
		background-color: rgba(var(--primaryColor-rgb), 0.2);
		.divider {
			background-color: var(--primaryColor);
		}
	}
	.iconWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 100%;
		height: 4rem;
		color: var(--contrastColor);
		.icon {
			font-size: 2rem;
		}
		&:hover {
			color: var(--primaryColor);
		}
	}
}
