body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior-y: none;
}

* {
	font-family: "Saira Extra Condensed";
	user-select: none;
}

:root {
	--backgroundColor: #fff;
	--secondaryBackgroundColor: #000;
	--primaryColor: #00f;
	--secondaryColor: #f00;
	--contrastColor: #fefefe;
}
